version: '3'
services:
  mock:
    image: node:12
    volumes:
      - .:/app
    working_dir: /app
    command: ["node", "./bin/mock.js"]
    environment:
      PORT: 8001
  nginx:
    image: nginx
    volumes:
      - .:/usr/share/nginx/html:ro
      - ./tmp/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./mime.types:/etc/nginx/mime.types:ro
    restart: always
    depends_on:
      - mock
    ports:
      - "8000:8000"
  app:
    image: node:12
    volumes:
      - .:/app
    working_dir: /app
    environment:
      # Used by variable substitution in `parse-conf.js`
      CLOUD_GOV_HOST: 'foobaz|specific'
      DEDICATED_S3_BUCKET_URL: 'http://mock:8001/dedicated'
      FEDERALIST_PROXY_SERVER_NAME: 'federalist-proxy-staging'
      FEDERALIST_S3_BUCKET_URL: 'http://mock:8001/shared'
      PROXY_WWW: '/usr/share/nginx/html'
      PROXY_PORT: 8000
      DNS_RESOLVER: '127.0.0.11'
      # Determines the url to test against in the test suite
      PROXY_URL: 'http://nginx:8000'
    depends_on:
      - nginx
